html {
  scroll-behavior: smooth;
}
#slide {
  width: 100%;
  height: 450px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 18px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.856);
  font-weight: lighter;
}
#home_getstarted {
  text-decoration: none;
  background-color: #00bf6f;
  padding: 12px 36px;
  border-radius: 5px;
  color: white;
  font-size: large;
}

#main_slid {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#home_slidetext {
  color: white;
  border-right: 6px solid #00bf6f;
  font-size: 55px;
  height: 55px;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.typed-cursor {
  display: none;
}
#middle_upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#middle_upper > p {
  font-size: 22px;
}
