* {
    padding: 0;
    margin: 0;
}

#top {
    height: 80px;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: 0 17px 10px -15px rgb(0 0 0 / 11%);

}

#lock {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#maincontainer {
    height: auto;
    width: 90%;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 2%;
}

#maintop_left_right {
    height: auto;
    width: 98%;
    /* border: 1px solid red; */
    display: flex;
    gap: 100px;
    padding: 5px;
}

#leftside {
    height: 700px;
    width: 50%;
    /* border: 1px solid blue; */
}

#rightside {
    height: auto;
    width: 50%;
    /* border: 1px solid blue; */
}

#left>h2 {
    margin-bottom: 8%;
}

#user_Details {
    height: 500px;
    width: 95%;
    margin: auto;
    /* border: 1px solid teal; */
    margin-top: 5%;
}

#formdata>input {
    height: 30px;
}

.name {
    display: block;
    color: #333e48;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 4px;

}

#first_name,
#last_name,
#Billing_email {
    width: 95%;
    height: auto;
}

#btn {
    margin-top: 10%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
}

#btn>input {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    box-shadow: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 191, 111);
    border-radius: 2px;
    text-decoration: none;
    border-color: rgb(0, 191, 111);
    padding: 10px;
    margin-right: 20px;
}

#right {
    height: auto;
    width: 95%;
    /* border: 1px solid green; */
    margin: auto;
}

#icon {
    height: 200px;
    /* border: 2px solid black; */
    background-image: url(https://prod.smassets.net/assets/paymentweb/paymentweb/7.66.0/assets/Advantage_illustration.svg);
    /* width: 20%; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.heading_right {
    text-align: center;
    font-size: 40px;
    color: #333e48;
    line-height: 1.5;
    font-weight: 400;
}

#mainsection {
    height: auto;
    width: 60%;
    /* margin: auto; */
    /* border: 1px solid red; */
    margin-left: 30%;
}

#section {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}


#section>img {
    height: 25px;
}

#section1 {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}

#section1>img {
    height: 25px;
}

#section2 {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}

#section2>img {
    height: 25px;
}

#section3 {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}

#section3>img {
    height: 25px;
}

#section4 {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}

#section4>img {
    height: 25px;
}

#section5 {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}

#section5>img {
    height: 25px;
}

#payment {
    height: auto;
    width: 50%;
    /* border: 1px solid green; */
    margin-top: 5%;
}

#paymenthr {
    margin-top: 5%;
}

#payment1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#payment2 {
    height: 100px;
    /* width: 100%; */
    /* border: 1px solid black; */
    margin-top: 10%;
}

#payment2>input {
    margin-top: 3%;
    width: 98%;
    height: 35px;
}

#payment img {
    margin-right: 65%;
    font-size: 10px;
}

#payment3 {
    height: 100px;
    margin-top: 3%;
}

#payment3>input {
    margin-top: 3%;
    width: 98%;
    height: 35px;
}

#review_order {
    height: 200px;
    width: 50%;
    /* border: 1px solid pink; */
    margin-top: 5%;
}

#review_order>hr {
    margin-top: 5%;
}