* {
    padding: 0;
    margin: 0;
}

#top {
    height: 80px;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: 0 17px 10px -15px rgb(0 0 0 / 11%);

}

#lock {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#maincontainer {
    height: auto;
    width: 90%;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 2%;
}

#maintop_left_right {
    height: auto;
    width: 98%;
    /* border: 1px solid red; */
    display: flex;
    gap: 100px;
    padding: 5px;
}

#left {
    display: flex;
    justify-content: space-between;
}

#leftside {
    height: 700px;
    width: 50%;
    /* border: 1px solid blue; */
}

#rightside {
    height: auto;
    width: 50%;
    /* border: 1px solid blue; */
}

#left>h2 {
    margin-bottom: 8%;
}

#user_Details {
    height: 500px;
    /* background-color: red; */
    /* overflow: hidden; */
    width: 95%;
    margin: auto;
    /* border: 1px solid teal; */
    margin-top: 5%;
}

#formdata>input {
    height: 40px;
}

.name {
    display: block;
    color: #333e48;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 4px;

}

#first_name,
#last_name,
#Billing_email {
    width: 95%;
    height: auto;
}

#btn {
    margin-top: 10%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-end;
}

#btn>input {
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    box-shadow: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 191, 111);
    border-radius: 2px;
    text-decoration: none;
    border-color: rgb(0, 191, 111);
    padding: 10px;
    margin-right: 20px;
}

#right {
    height: auto;
    width: 95%;
    /* border: 1px solid green; */
    margin: auto;
}

#icon {
    height: 200px;
    /* border: 2px solid black; */
    background-image: url(https://prod.smassets.net/assets/paymentweb/paymentweb/7.66.0/assets/Advantage_illustration.svg);
    /* width: 20%; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.heading_right {
    text-align: center;
    font-size: 40px;
    color: #333e48;
    line-height: 1.5;
    font-weight: 400;
}

#mainsection {
    height: auto;
    width: 60%;
    /* margin: auto; */
    /* border: 1px solid red; */
    margin-left: 30%;
}

#section {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}


#section>img {
    height: 25px;
}

#section1 {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}

#section1>img {
    height: 25px;
}

#section2 {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}

#section2>img {
    height: 25px;
}

#section3 {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}

#section3>img {
    height: 25px;
}

#section4 {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}

#section4>img {
    height: 25px;
}

#section5 {
    height: auto;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;
    font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans", "Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-weight: 500;
    font-size: 20px;
    color: gray;

}

#section5>img {
    height: 25px;
}

/* payment part */
#payment {
    height: auto;
    width: 50%;
    /* border: 2px solid green; */
    margin-top: 5%;
}

#payment img {
    margin-right: 65%;
    font-size: 10px;
}

#paymenthr {
    margin-top: 5%;
}

#payment1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#payment2 {
    height: 100px;
    /* width: 100%; */
    /* border: 1px solid black; */
    margin-top: 5%;
}

#payment2>input {
    margin-top: 3%;
    width: 98%;
    height: 40px;
}

#payment3 {
    height: 100px;
    margin-top: 3%;
}

#payment3>input {
    margin-top: 3%;
    width: 98%;
    height: 40px;
}

.cardbox {
    height: auto;
    width: 99%;
    /* border: 1px solid black; */
    display: flex;
    gap: 10px;
}

.box1 {
    height: 140px;
    width: 20%;
    border: 1px solid #00bf6f;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 8px 14px 0 rgb(0 0 0 / 11%);
    /* margin: 0 5px 0 5px; */
    cursor: pointer;
    margin-top: 5%;
}

/* .box1:hover,
.box2:hover {
    background-color: #00bf6f;

} */
.box.active:hover {
    background-color: #00bf6f;
}

.box2 {
    height: 140px;
    width: 20%;
    border: 1px solid #00bf6f;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 8px 14px 0 rgb(0 0 0 / 11%);
    /* margin: 0 5px 0 5px; */
    cursor: pointer;
    margin-top: 5%;

}

.righticon {
    height: auto;
    /* border: 1px solid #00bf6f; */
    width: 99%;
    display: flex;
    justify-content: end;
    margin-bottom: 15%;
}

.iconurl {
    background-image: url(https://prod.smassets.net/assets/paymentweb/paymentweb/7.67.0/assets/Checkmark-payment-method.svg);
    height: 20px;
    width: 20px;
    margin: 5px;
    background-repeat: no-repeat;
}

.cardurl {
    height: auto;
    width: 99%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalurl {
    height: 18px;
    width: 25px;
    /* border: 1px solid #00bf6f; */
    background-image: url(https://prod.smassets.net/assets/paymentweb/paymentweb/7.67.0/assets/CC-logo-green.svg);
    background-repeat: no-repeat;

}

.text {
    height: auto;
    width: 97%;
    /* border: 2px solid goldenrod; */
    color: #333e48;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
    margin-top: 15%;
    text-align: center;
    font-family: National\ 2, Helvetica Neue, Helvetica, Arial, Hiragino Sans, Hiragino Kaku Gothic Pro, æ¸¸ã‚´ã‚·ãƒƒã‚¯, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, Yu Gothic, ï¼­ï¼³ ã‚´ã‚·ãƒƒã‚¯, MS Gothic, sans-serif;
}

.invoice {
    height: auto;
    width: 99%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    color: #333e48;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
    font-family: National\ 2, Helvetica Neue, Helvetica, Arial, Hiragino Sans, Hiragino Kaku Gothic Pro, æ¸¸ã‚´ã‚·ãƒƒã‚¯, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, Yu Gothic, ï¼­ï¼³ ã‚´ã‚·ãƒƒã‚¯, MS Gothic, sans-serif;
}

.invoiceurl {
    background-image: url(https://prod.smassets.net/assets/paymentweb/paymentweb/7.67.0/assets/Invoice-logo-default.svg);
    height: 22px;
    width: 24px;
    background-repeat: no-repeat;
    margin: 0px 5px 0px 5px;
    margin-bottom: 15%;

}

.invoicetext {
    height: auto;
    width: 99%;
    /* border: 1px solid gold; */
    text-align: center;
    color: #333e48;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
    font-family: National\ 2, Helvetica Neue, Helvetica, Arial, Hiragino Sans, Hiragino Kaku Gothic Pro, æ¸¸ã‚´ã‚·ãƒƒã‚¯, æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“, YuGothic, Yu Gothic, ï¼­ï¼³ ã‚´ã‚·ãƒƒã‚¯, MS Gothic, sans-serif;

}

.credit_input {
    height: auto;
    width: 99%;
    /* border: 1px solid red; */
}

/* order review */
#review_order {
    height: 70px;
    width: 100%;
    /* border: 1px solid pink; */
    margin-top: 5%;
}

#review_order>hr {
    margin-top: 5%;
}

#mainreview {
    height: auto;
    width: 50%;
    /* border: 1px solid blue; */
    margin-top: 3%;

}

#bill {
    height: 600px;
    width: 99%;
    /* border: 1px solid #00bf6f; */
    background-color: #F7F8FA;
    position: relative;
}

#bill1 {
    height: auto;
    width: 99%;
    /* border: 1px solid red; */
    display: flex;
    gap: 5px;

}

#bill1>div {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.35;

}

#bill1>div>img {
    height: 15px;
}

#bill1 p {
    margin-left: -55%;
    margin-top: 2%;
}